/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.papelContainer {
    margin: auto;
    width: 500px;
    height: 300px;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

body {
    background-color: #E0E0E0;
}

.textoInput {
    width: 100%;
    height: 50px;
    border: 1px solid lightgrey;
    font-style: italic;
}


h1 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: darkgray;

}

input{
     font-family: "Permanent Marker", cursive;
}


li {
    display: flex;
    justify-content: space-between;
    height: 35px;
    width: 100%;
     font-family: "Permanent Marker", cursive;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarea:hover .btn {
    opacity: 1;
}

.btn {
    opacity: 0;
    transition: opacity 0.1s;
    font-size: x-large;

}

.btn:hover {
    opacity: 1;
}

#usuario{
background-color: #4B4B4B ;

}

#usuarioIsrael{
     font-family: "Permanent Marker", cursive;
}

.israel{
    width: 500px;
    height: 300px;
    margin: auto;
}
p{
         font-family: "Permanent Marker", cursive;

}
h2{
         font-family: "Permanent Marker", cursive;

}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}